<div class="spec-container">

  <app-title text="Запросы на помощь" subtext="Выбери из списка запрос и помоги"></app-title>


  <app-help-board-card title="Нужно сено" avatarPath="assets/genericavatar_01.png"></app-help-board-card>
  <app-help-board-card title="Лекарства для приюта" avatarPath="assets/genericavatar_02.png"></app-help-board-card>
  <app-help-board-card title="Каша и крупы" avatarPath="assets/genericavatar_03.png"></app-help-board-card>
  <app-help-board-card title="Транспорт для перевозки" avatarPath="assets/genericavatar_04.png"></app-help-board-card>
  <app-help-board-card title="Волонтеры" avatarPath="assets/genericavatar_05.png"></app-help-board-card>
  <app-help-board-card title="Помочь с ремонтом" avatarPath="assets/genericavatar_06.png"></app-help-board-card>

</div>