<div class="example-form">
  <mat-form-field class="example-full-width" style="width: 100%; max-width: 400px;">
    <input type="text" placeholder="Pick one" aria-label="Number" matInput [formControl]="addressControl"
      [matAutocomplete]="auto" (keyup)="suggestAddress(addressControl.value)">
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
        {{option}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</div>