<div class="spec-container">

  <app-title text="Питомцы" subtext="Смотри и добавляй питомцев в каталог"></app-title>

  <div class="container" *ngIf="pets">
    <div class="title-wrapper">
      <app-page-header></app-page-header>
      <p>
        Значимость этих проблем настолько очевидна, что высокотехнологичная концепция общественной системы
        способствует
        повышению качества дальнейших направлений развития.
      </p>
    </div>

    <div class="shop-header">
      <div class="products-control-wrapper">
        <div class="search">
          <mat-form-field class="example-full-width" floatLabel="never">
            <input matInput type="text" #search placeholder="Поиск по сайту" (keydown.enter)="onSearch()">
            <mat-icon *ngIf="!shopParams.search" class="mat-icon" matSuffix (click)="onSearch()">
              search
            </mat-icon>
            <mat-icon *ngIf="shopParams.search" class="mat-icon" matSuffix (click)="onReset()">
              close
            </mat-icon>
          </mat-form-field>
        </div>
      </div>


      <app-pager-header [totalCount]="totalCount" [products]="this.products"></app-pager-header>

      <div class="filters-wrapper">
        <mat-chip-list aria-label="selection" style="width: 100% !important; ">
          <mat-chip *ngFor="let type of types" class="types" [class.active]="type.id === shopParams.typeIdSelected"
            [value]="type.id" (click)="onTypeSelected(type.id)" color="accent">
            {{type.name}}
            <mat-icon matChipRemove *ngIf="type.id === shopParams.typeIdSelected" (click)="onTypeSelected(type.id)">
              cancel</mat-icon>
          </mat-chip>
        </mat-chip-list>
      </div>

      <div class="filters-wrapper">
        <mat-chip-list aria-label="selection" style="width: 100% !important; ">
          <mat-chip *ngFor="let region of regions" class="regions"
            [class.active]="region.id === shopParams.regionIdSelected" [value]="region.id"
            (click)="onRegionSelected(region.id)">
            {{region.name}}
            <mat-icon matChipRemove *ngIf="region.id === shopParams.regionIdSelected"
              (click)="onRegionSelected(region.id)">
              cancel</mat-icon>
          </mat-chip>
        </mat-chip-list>
      </div>

      <div class="filters-wrapper" style="justify-content: flex-start; margin-top: 2rem;">
        <app-mat-btn-small text="Добавить" [icon]="'add'" [routerLink]="[ 'add', 'pet' ]"></app-mat-btn-small>
      </div>


      <!-- <div class="filters-wrapper-footer">
        <mat-button-toggle-group #group="matButtonToggleGroup" (change)="onSortSelected(group.value)">
          <mat-button-toggle value="name" aria-label="Text align left">
            <mat-icon>
              sort_by_alpha
            </mat-icon>
          </mat-button-toggle>
          <mat-button-toggle value="priceDesc" aria-label="Text align center">
            <mat-icon>sort</mat-icon>
          </mat-button-toggle>
          <mat-button-toggle value="priceAsc" aria-label="Text align right">
            <mat-icon class="down">sort</mat-icon>
          </mat-button-toggle>
        </mat-button-toggle-group>
      </div> -->
    </div>
  </div>


</div>


<app-items-layout [(types)]="types" [(regions)]="regions" [(items)]="pets" [link]="'/pets'" [type]="'pet'">
</app-items-layout>

<div class="mat-paginator-wrapper" [ngClass]="{'hidden': pets === undefined}">
  <mat-paginator #paginator [length]="this.totalCount" [pageSize]="shopParams.pageSize"
    [pageIndex]="shopParams.pageNumber" [pageSizeOptions]="pageSizeOptions">
  </mat-paginator>
</div>