<div *ngIf="assistants" class="spec-container">

  <app-title text="Найти няню для питомца" subtext="Выбери вирант из списка"></app-title>

  <div class="container">
    <div class="title-wrapper">
      <app-page-header></app-page-header>
      <p>
        Значимость этих проблем настолько очевидна, что высокотехнологичная концепция общественной системы
        способствует
        повышению качества дальнейших направлений развития.
      </p>
    </div>

    <div class="shop-header">

      <div class="products-control-wrapper">
        <div class="search">
          <mat-form-field class="example-full-width" floatLabel="never">
            <input matInput type="text" #search placeholder="Поиск по сайту" (keydown.enter)="onSearch()">
            <mat-icon *ngIf="!assistantsParams.search" class="mat-icon" matSuffix (click)="onSearch()">
              search
            </mat-icon>
            <mat-icon *ngIf="assistantsParams.search" class="mat-icon" matSuffix (click)="onReset()">
              close
            </mat-icon>
          </mat-form-field>
        </div>
      </div>


      <app-pager-header [totalCount]="totalCount" [products]="this.products"></app-pager-header>

      <div class="filters-wrapper">
        <mat-chip-list aria-label="selection" style="width: 100% !important; ">
          <mat-chip *ngFor="let type of types" class="types"
            [class.active]="type.id === assistantsParams.typeIdSelected" [value]="type.id"
            (click)="onTypeSelected(type.id)" color="accent">
            {{type.name}}
            <mat-icon matChipRemove *ngIf="type.id === assistantsParams.typeIdSelected"
              (click)="onTypeSelected(type.id)">
              cancel</mat-icon>
          </mat-chip>
        </mat-chip-list>
      </div>

      <div class="filters-wrapper">
        <mat-chip-list aria-label="selection" style="width: 100% !important; ">
          <mat-chip *ngFor="let region of regions" class="regions"
            [class.active]="region.id === assistantsParams.regionIdSelected" [value]="region.id"
            (click)="onRegionSelected(region.id)">
            {{region.name}}
            <mat-icon matChipRemove *ngIf="region.id === assistantsParams.regionIdSelected"
              (click)="onRegionSelected(region.id)">
              cancel</mat-icon>
          </mat-chip>
        </mat-chip-list>
      </div>

      <div class="filters-wrapper" style="justify-content: flex-start; margin-top: 2rem;">
        <app-mat-btn-small text="Добавить" [icon]="'add'" [routerLink]="[ 'add' ]"></app-mat-btn-small>
      </div>

    </div>

    <div class="grid-wrapper">
      <div class="grid">
        <ng-container *ngFor="let item of assistants; let i=index">
          <div class="app-card">

            <app-mat-card-hero [item]="item" [link]="link" [type]="type" style="margin-bottom: 20px; "
              [detailedMode]="false">
            </app-mat-card-hero>
          </div>

        </ng-container>

      </div>

      <ng-container *ngIf="assistants.length === 0">
        <div class="no-assistants-wrapper">
          Здесь пока пусто
        </div>
      </ng-container>
    </div>


  </div>


</div>





<div class="spec-container">
  <div class="container" style="background-color: #FFFFFF;">
    <div *ngIf="!assistants" class="spinner-wrapper">
      <mat-spinner>

      </mat-spinner>
    </div>
  </div>
</div>