.mat-paginator-wrapper {
  display: flex;
  justify-content: center;

  mat-paginator {
    margin-right: 20px;
    margin-bottom: 2rem;
    background-color: transparent;
  }
}

.title-wrapper {
  // margin-right: 20px;

  p {
    font-size: 15px;
    a {
      color: black;
    }
  }
}

.shop-header {
  // margin-left: 5px;
  margin-right: 20px;

  .products-control-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    vertical-align: middle;
    align-items: center;
    position: relative;

    .search {
      display: flex;
      vertical-align: middle;
      align-items: center;
      justify-content: space-between;
      position: relative;
      width: 100%;

      .example-full-width {
        width: 100%;
      }

      .mat-icon {
        top: 5px;
        padding-left: 4px;
        padding-right: 4px;
        position: relative;
        font-size: 22px;
        cursor: pointer;
      }
    }
  }

  .info {
    justify-self: flex-end;
    font-weight: 400;
    text-align: right;
    font-size: 15px;
    position: relative;
  }

  .filters-wrapper {
    margin-top: 20px;
    width: 100%;
    display: flex;
    // grid-template-columns: 1fr;
    // grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));

    mat-chip-list {
      position: relative;
      justify-content: space-between;

      mat-chip {
        margin-top: 10px;
        margin-right: 10px;
        display: flex;
        justify-content: space-between;
        font-size: 12px;
        cursor: pointer;
        width: 100%;
        margin-bottom: 10px;
        // word-break: normal;
        max-width: 160px;
      }

      mat-chip:focus,
      mat-chip:hover {
        // background-color: var(--warn);
      }

      mat-chip.regions {
        background-color: darkgrey;
      }

      mat-chip.active {
        background-color: rgb(19, 17, 17);
        color: white;

        mat-icon {
          justify-self: right;
          align-self: flex-end;
          right: 0px;
          color: #fff;
        }
      }

      mat-chip.regions.active {
        background-color: var(--warn);
      }

      mat-chip.mat-standard-chip::after {
        background: none;
      }
    }
  }
}

.filters-wrapper-footer {
  margin-top: 20px;
}

.down {
  transform: rotate(180deg);
}

.hidden {
  display: none;
}
