<div class="spec-container">

  <app-title text="Готовы помочь" subtext="Выбери из списка помощь и отправь запрос"></app-title>


  <app-volonter-board-card title="Отдам сено" avatarPath="assets/genericavatar_01.png"></app-volonter-board-card>
  <app-volonter-board-card title="Еда для приюта" avatarPath="assets/genericavatar_02.png">
  </app-volonter-board-card>
  <app-volonter-board-card title="Помогу с транспортом" avatarPath="assets/genericavatar_03.png">
  </app-volonter-board-card>
  <app-volonter-board-card title="Готов построить" avatarPath="assets/genericavatar_04.png">
  </app-volonter-board-card>

</div>