.mat-paginator-wrapper {
  display: flex;
  justify-content: center;

  mat-paginator {
    margin-right: 20px;
    margin-bottom: 2rem;
    background-color: transparent;
  }
}

.container {
  .title-wrapper {
    margin-right: 20px;

    p {
      font-size: 15px;
      a {
        color: black;
      }
    }
  }

  .shop-header {
    margin-right: 20px;

    .products-control-wrapper {
      width: 100%;
      display: flex;
      justify-content: space-between;
      vertical-align: middle;
      align-items: center;
      position: relative;

      .search {
        display: flex;
        vertical-align: middle;
        align-items: center;
        justify-content: space-between;
        position: relative;
        width: 100%;

        .example-full-width {
          width: 100%;
        }

        .mat-icon {
          top: 5px;
          padding-left: 4px;
          padding-right: 4px;
          position: relative;
          font-size: 22px;
          cursor: pointer;
        }
      }
    }

    .info {
      justify-self: flex-end;
      font-weight: 400;
      text-align: right;
      font-size: 15px;
      position: relative;
    }

    .filters-wrapper {
      margin-top: 20px;
      width: 100%;
      display: flex;
      // grid-template-columns: 1fr;
      // grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));

      mat-chip-list {
        position: relative;
        justify-content: space-between;

        mat-chip {
          margin-top: 10px;
          margin-right: 10px;
          display: flex;
          justify-content: space-between;
          font-size: 12px;
          cursor: pointer;
          width: 100%;
          margin-bottom: 10px;
          // word-break: normal;
          max-width: 160px;
        }

        mat-chip:focus,
        mat-chip:hover {
          // background-color: var(--warn);
        }

        mat-chip.regions {
          background-color: darkgrey;
        }

        mat-chip.active {
          background-color: rgb(19, 17, 17);
          color: white;

          mat-icon {
            justify-self: right;
            align-self: flex-end;
            right: 0px;
            color: #fff;
          }
        }

        mat-chip.regions.active {
          background-color: var(--warn);
        }

        mat-chip.mat-standard-chip::after {
          background: none;
        }
      }
    }
  }

  .filters-wrapper-footer {
    margin-top: 20px;
  }

  .down {
    transform: rotate(180deg);
  }
}

.grid-wrapper {
  .grid {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  }
}

.mat-paginator-wrapper {
  display: flex;
  justify-content: center;

  mat-paginator {
    margin-right: 20px;
    margin-bottom: 2rem;
    background-color: transparent;
  }
}

.app-card {
  padding: 0px 10px;
  // display: flex;
  justify-content: center;
}

.hidden {
  display: none;
}

@media (max-width: 770px) {
  .grid {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
  }
}

@media (max-width: 700px) {
  .grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(2rem, 1fr));
  }
}

@media (max-width: 479px) {
  .grid {
    display: flex;
    grid-template-columns: 100% !important;
    display: flex;
  }
}

.spinner-wrapper {
  top: 0px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: absolute;
  z-index: 100;

  mat-spinner {
    top: auto;
  }
}
