.card-wrapper {
  border: 0px;
  box-shadow: var(--shadow);
  background-color: var(--background-card);
  max-width: 100%;
  min-width: 300px;
  width: 100%;
  height: 100%;

  padding-top: 20px;
  padding-bottom: 10px;
  padding-right: 20px;
  padding-left: 20px;

  border-radius: 10px;
  animation-name: example;
  animation-duration: 0.5s;
  position: relative;
  // max-width: clamp(390px, 2vw, 420px);
}

@keyframes example {
  from {
    top: 30px;
  }
  to {
    top: 0px;
  }
}

.card-wrapper:hover {
  // box-shadow: var(--shadow-hover);
}

.mat-card-main {
  height: 100%;
  display: grid;
  grid-template-columns: 100% 0%;
  padding-bottom: 90px;
}

.card-body {
  cursor: default;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card-text,
.card-text-user {
  max-width: 100%;
  min-height: 40px;
  position: relative;
  padding: 0px;
  margin-bottom: 5px;
  word-wrap: break-word;
}

.img-wrapper {
  max-width: 100%;
  position: relative;
  height: 270px;
  justify-content: center;
  vertical-align: middle;
  align-items: center;
  display: flex;
  display: flexbox;
  overflow: hidden;
  border-radius: 10px;
  max-width: 600px;

  img {
    position: relative;
    width: 100%;

    // height: 100%;
  }
}

.img-wrapper:hover {
  .icon-edit {
    display: inherit;
    color: var((--font));
  }
}

.icon {
  height: 100%;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  vertical-align: middle;
  align-items: center;
}

.icon-edit {
  position: absolute;
  display: none;
  top: 0px;
  right: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(206, 206, 212, 0.438);
  cursor: pointer;
}

.card-footer-wrapper {
  height: 90px;
  display: flex;
  position: absolute;
  bottom: 0px;
  justify-content: left;
  vertical-align: middle;
  align-items: flex-start;
  padding-top: 10px;
  cursor: pointer;
  z-index: 0;
  padding-bottom: 30px;
}

.card-footer:hover {
  background-color: var(--c2-hover);
}

@media (max-width: 1345px) {
  .card-wrapper {
    border: 0px;
    box-shadow: var(--shadow);
    background-color: var(--background-card);
    width: 100%;
    padding-top: 20px;
    padding-bottom: 10px;
    padding-right: 20px;
    padding-left: 20px;
    height: 100%;
    border-radius: 10px;
    animation-name: example;
    animation-duration: 0.5s;
    position: relative;
    max-width: 100%;
    width: 100%;
    // max-width: clamp(390px, 2vw, 420px);
  }
}
