.material-icons {
}

.icon-wrapper {
  cursor: pointer;
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  vertical-align: middle;
  align-items: center;
  padding: 10px;
  border-radius: 100px;
}

.icon-wrapper:hover {
  background-color: rgba(0, 0, 0, 0.096);
}
