form {
  width: 100%;
  position: relative;
  font-size: 15px;
  min-height: 633px;

  .label {
    color: black;
  }

  mat-form-field {
    width: 100%;
    margin-bottom: 1rem;

    .mat-form-field-wrapper {
      width: 100%;
    }

    .mat-input-login {
      top: -3px;
      position: relative;
    }
  }

  .mat-hint {
    display: flex;
    justify-content: space-between;
    width: 100%;

    .validator {
      color: var(--main-theme-color-error);
      right: 12px;
      position: relative;
    }
  }

  .login-info {
    width: 100%;
    text-align: center;
    cursor: pointer;
    color: #202020;
    font-size: 14px;
    margin-bottom: 5px;
    margin-top: 10px;
  }

  .login-info:hover {
    color: black;
    text-decoration: underline;
  }
}

mat-icon {
  position: relative;
  margin-right: 5px;
  font-size: 20px;
  bottom: -0.8px !important;
}

.mat-btn-login-google {
  background-color: white !important;
  color: black !important;
  border: solid #d94721 2px;
}

.mat-btn-login-google:hover {
  background-color: white !important;
  border: solid #000000 2px;
  border: solid #d94721 2px;
}

.mat-btn-login-email {
  background-color: white;
  color: black;
  border: solid #616161 2px;
}

.mat-btn-login-facebook {
  background-color: #3a599d !important;
  border: solid #3a599d 2px !important;
}

.mat-btn-login-facebook:hover {
  background-color: #2d4b8c !important;
  border: solid #2d4b8c 2px !important;
}

button:disabled {
  background-color: white !important;
  border-color: lightgrey !important;
}

// ::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline-end {
//   border-radius: 0px !important;
// }

// ::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline-start {
//   border-radius: 0px !important;
// }
