.card-wrapper {
  display: block;
  box-shadow: var(--shadow);
  padding: 15px;
  margin-bottom: 20px;
}

.card-header {
  font-weight: 500;
  line-height: 3rem;
  font-size: 22px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  vertical-align: middle;
  padding-bottom: 20px;

  .card-header-title {
    padding-left: 20px;
  }
}

.card-header-img {
  position: relative;
  display: contents;
  display: flex;
  border-radius: 100px;
  overflow: hidden;
  width: 100px;
  justify-content: center;
  vertical-align: middle;
  align-items: center;

  img {
    // height: 100%;
    // width: 150px;
    max-height: 100px;
  }
}
