<div class="container" style="display: flex; justify-content: center;">
  <div class="banner">

    <div class="banner-text-wrapper">
      <div class="banner-text">
        <h1>Приложение для братьев меньших</h1>
        <p class="banner-text-subtext">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sapiente perspiciatis impedit quasi et
        </p>

        <div class="btn-wrapper">
          <a class="btn-inner">
            <app-mat-button [routerLink]="[ '/account/']" style="text-decoration: none;" text="Зарегистрироваться"
              icon="favorite_border">
            </app-mat-button>
          </a>
        </div>

      </div>
    </div>





  </div>
</div>


<!-- <div class="banner-img-wrapper">
          <div class="banner-img">
            <img src="assets/main/banner.png">
          </div>
    
    
    
        </div> -->