<div class="card-wrapper">
  <div class="card-header">
    <div class="card-header-img">
      <img src="{{avatarPath}}" alt="аватарка">
    </div>
    <div class="card-header-title">
      {{title}}
    </div>
  </div>
  <div class="card-body">
    <p>
      Следует отметить, что реализация намеченных плановых заданий позволяет оценить значение представляет собой
      интересный эксперимент направлений прогрессивного развития. Не вызывает сомнений, что социально-экономическое
      развитие позволяет оценить значение представляет собой интересный эксперимент системы массового участия. Идейные
      соображения высшего порядка, а также управление и развитие структуры требует определения и уточнения направлений
      прогрессивного развития. Равным образом рамки и место обучения кадров способствует повышению качества
      соответствующих условий активизации.
    </p>
  </div>
  <div class="card-footer">
    <app-mat-btn-small text="Помочь"></app-mat-btn-small>
  </div>
</div>